*{
    margin: 0;
    padding: 0;
    font-family : 'Raleway', sans-serif ;   
}
/* class flex*/
.flex{
    display: flex;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.filtre {
    display: flex;
    align-items: center;
}
.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.blocflex2{
    flex: 2;
}
.blocflex1{
    flex: 1;
}
.blocflex3{
    flex: 3;
}
/* header*/
header{
    margin-bottom: 20px;
}
.logo{
    background-image: url(images/logo/Booki.png);
    width: 95px;
    height: 45px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-top: 20px;
}
header, nav {
    margin-left: 30px;
}
.navbar{
    padding: 30px 10px 10px 10px;
    width: 40%;
    text-align: center;
}
.navbar:hover{
    border-top: 2px solid blue;
}
.navbartext{
    color: black;
    text-decoration: none;
}
.navbartext:hover{
    color: blue;
}
.width40{
    width: 30%;
    justify-self: flex-end;
}
/* nav */
nav h1{
    margin-bottom: 10px;
}
.map-logo{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 15px 0 0 15px;
}
form{
    margin-top: 20px;
}
input[type=text]{
    border: 1px solid #f2f2f2;
    width: 200px;
    padding: 15px 20px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
input[type=text]::placeholder{
    color: black;
    font-weight: bold;
}
input[type=submit]{
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    padding: 15px 15px;
    width: 130px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
input[type=submit]:hover{
    background-color: #f2f2f2;
    color: #0065FC;
}
.marg-filtre {
    margin-top: 50px;
    margin-bottom: 40px;
} 
.marg-filtre-titre {
    margin-right: 20px;
}
.filtre-texte-icons {
    border: 3px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.filtre-texte-icons:hover > .filtre-texte {
    color: #0065fc;
    cursor: pointer;
}
.filtre-texte-icons:hover > .filtre-icons {
    color: white;
    background-color: #0065fc;
    cursor: pointer;
}
.filtre-texte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}  
.filtre-icons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 100%;
    color: #0065fc;
    background-color: #deebff;
    text-align: center;
}
.info{
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-logo{
    color: #0065FC;
    border-radius: 30px;
    border: 1px solid rgb(141, 141, 141);
    padding: 5px 9px;
    font-size: 12px;
}
/* main */
/* bloc hebergements */
main{
    margin: 0 20px;
}
.bloc-hebergements{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 5px;
    margin-left: 10px;
    padding: 20px;
    height: 660px;
}
.bloc-hebergements h2{
    margin-left: 10px;
    padding: 5px;
}
.bloc-hebergements h3{
    margin-left: 15px;
}
.height320{
    height: 270px;
}
#hebergements, #activites, .linksection{
    text-decoration: none;
    color: black;
}
#hebergements:hover, #activites:hover, .linksection:hover{
    color: #0065FC;
}
.carte-hebergements{
    width: 100%;
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(225, 225, 225, 0.35), 1px -1px 5px rgba(225, 225, 225, 0.35), -1px 1px 5px rgba(225, 225, 225, 0.35), -1px -1px 5px rgba(225, 225, 225, 0.35);
    position: relative;
}
.img-hebergements-1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-hebergements-2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-hebergements-3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-hebergements-4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-hebergements-5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-hebergements-6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.carte-hebergements h4, .carte-hebergements p{
    padding: 5px;
    margin-left: 5px;
}
.fa-star{
    color: #0065FC;
}
.colorgrey{
    color: #f2f2f2;
}
.margtop30{
    margin-top: 30px;
}
/* bloc populaires */
.div-link{
    margin-top: 20px;
    padding: 0 20px;
}
.fa-chart-line{
    font-size: 24px;
}
.bloc-populaires{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 5px;
    padding: 20px;
    height: 680px;
}
.carte-populaires{
    width: 90%;
    padding: 5px;
    background-color: white;
    margin: 10px auto;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 1px 1px 5px rgba(225, 225, 225, 0.35), 1px -1px 5px rgba(225, 225, 225, 0.35), -1px 1px 5px rgba(225, 225, 225, 0.35), -1px -1px 5px rgba(225, 225, 225, 0.35);
    position: relative;
}
.bloc-populaires {
    padding: 10px;
}
.img-populaires-1{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 100%;
    border-radius: 15px 0 0 15px;
}
.img-populaires-2{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 100%;
    border-radius: 15px 0 0 15px;
}
.img-populaires-3{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 100%;
    border-radius: 15px 0 0 15px;
}
.bloc-info-populaires{
    padding: 5px;
}
.bloc-info-populaires h4, .bloc-info-populaires p{
    padding: 5px;
}
.margtop{
    margin-top: 20px;
}
/* fin main */
/* section */
section{
    margin: 20px 20px 0 20px;
}
.bloc-activites{
    margin-top: 40px;
}
.bloc-activites h2{
    padding: 5px;
    margin-left: 20px;
}
.carte-activites{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(225, 225, 225, 0.35), 1px -1px 5px rgba(225, 225, 225, 0.35), -1px 1px 5px rgba(225, 225, 225, 0.35), -1px -1px 5px rgba(225, 225, 225, 0.35);
    margin: 5px;
    position: relative;
}
.carte-activites-37{
    width: 100%;
    height: 37%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(225, 225, 225, 0.35), 1px -1px 5px rgba(225, 225, 225, 0.35), -1px 1px 5px rgba(225, 225, 225, 0.35), -1px -1px 5px rgba(225, 225, 225, 0.35);
    margin: 5px;
    position: relative;
}
.carte-activites-60{
    width: 100%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(225, 225, 225, 0.35), 1px -1px 5px rgba(225, 225, 225, 0.35), -1px 1px 5px rgba(225, 225, 225, 0.35), -1px -1px 5px rgba(225, 225, 225, 0.35);
    margin: 5px;
    position: relative;
}
.carte-activites h4, .carte-activites-37 h4, .carte-activites-60 h4{
    padding: 15px;
}
article{
    width: 100%;
    height: 560px;
    padding: 15px;
}
.img-activites-1{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 91%;
    border-radius: 15px 15px 0 0;
}
.img-activites-2{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 0 0;
}
.img-activites-3{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}
.img-activites-4{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 91%;
    border-radius: 15px 15px 0 0;
}
.img-activites-5{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 00;
}
.img-activites-6{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}
.margin-17{
    margin-top: 17px;
}
/* footer */
footer{
    background-color: #f2f2f2;
    margin-top: 30px;
}
.footerlist{
    flex: 1;
    padding: 5px;
    margin-left: 50px;
    margin-top: 20px;
}
.footerlist ul{
    list-style: none;
}
.footerlist li{
    margin-bottom: 5px;
    padding: 5px;
}
.footerlist li a{
    text-decoration: none;
    color: black;
}
.footerlist li a:hover{
    color: #0065FC;
}
.footerlist h2{
    margin-bottom: 10px;
    padding: 5px;
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}  
/* media mobile */
@media screen and (max-width: 768px) {
    /* class flex */
.mobile-flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.mobile-flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtre{
    display: flex;
    flex-direction: column;
}
.mobile-filtre{
    align-self: flex-start;
    margin-bottom: 10px;
}
.mobile-filtre-wrap{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mobile-flex-column{
    display: flex;
    flex-direction: column;
}
/* header */
.logo{
    background-image: url(images/logo/Booki@3x.png);
    width: 285px;
    height: 135px;
}
.navbar{
    width: 50%;
    margin-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
}
.navbar:hover{
    border-bottom: 2px solid #0065FC;
    border-top: none;
}
.width40{
    width: 100%;
}
header, nav{
    margin-left: 0;
}
/* nav */
nav{
    text-align: center;
}
.map-logo{
    height: 100%;
    padding: 16px;
}
nav h1{
    margin-bottom: 10px;
}
.searchbar{
    text-align: center;
}
.info{
    text-align: center;
    margin-bottom: 20px;
}
.marg-filtre{
    margin-left: 10px;
}
/* main */
main{
    margin: 0;
}
#hebergements{
    margin-top: 20px;
    margin-bottom: 10px;
}
.height320{
    height: 100%;
}
.bloc-hebergements{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.bloc-hebergements h2, .bloc-hebergements h3{
    padding-left: 10px;
}
.carte-hebergements{
    height: 100%;
    width: 90%;
    padding: 0;
}
.bloc-populaires{
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding: 10px 0 0 0;
}
aside{
    width: 100%;
    margin-top: 10px;
}
/* section */
.carte-activites, .carte-activites-37, .carte-activites-60{
    width: 91%;
    margin: auto;
    margin-bottom: 20px;
}
#activites{
    margin-bottom: 20px;
}
article{
    height: 100%;
    padding: 0;
}
.img-activites-1, .img-activites-2, .img-activites-3, .img-activites-4, .img-activites-5, .img-activites-6{
    height: 150px;
}
section{
    margin: 0;
    width: 100%;
}
.margin-17{
    margin-top: 0;
}
}
/* media tablet */
@media screen and  (min-width: 769px) and (max-width: 991px){
/* class flex */
.tablet-flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.tablet-flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablet-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtre{
    display: flex;
    flex-direction: column;
}
.tablet-filtre{
    align-self: flex-start;
    margin-bottom: 10px;
}
.tablet-filtre-wrap{
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* header */
.logo{
    background-image: url(images/logo/Booki@3x.png);
    width: 285px;
    height: 135px;
}
.navbar{
    width: 50%;
    margin-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
}
.navbar:hover{
    border-bottom: 2px solid #0065FC;
    border-top: none;
}
.width40{
    width: 100%;
}
header, nav{
    margin-left: 0;
}
/* nav */
nav{
    text-align: center;
}
.map-logo{
    height: 100%;
    padding: 16px;
}
nav h1{
    margin-bottom: 10px;
}
.info{
    text-align: center;
    margin-bottom: 20px;
}
.marg-filtre{
    margin-left: 10px;
}
.height320{
    height: 100%;
}
/* main */
main{
    margin: 0;
}
#hebergements{
    margin-top: 20px;
    margin-bottom: 10px;
}
.carte-hebergements{
    height: 100%;
    width: 90%;
    padding: 0;
}
.bloc-populaires{
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding: 10px 0 0 0;
}
aside{
    width: 100%;
    margin-top: 10px; 
}
.bloc-hebergements{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.bloc-hebergements h2, .bloc-hebergements h3{
    padding-left: 10px;
}
/* section */
.carte-activites, .carte-activites-37, .carte-activites-60{
    width: 91%;
    margin: auto;
    margin-bottom: 20px;
}
section{
    margin: 0;
    width: 100%;
}
#activites{
    margin-bottom: 20px;
}
article{
    height: 100%;
    padding: 0;
}
.img-activites-1, .img-activites-2, .img-activites-3, .img-activites-4, .img-activites-5, .img-activites-6{
    height: 150px;
}
.margin-17{
    margin-top: 0;
}
}
